* {
  box-sizing: border-box;
  font-family: "Geist", "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 16px;
  line-height: 1.5;
}

/* === Theme Variables === */
:root {
  --bg-color: #ffffff;
  --text-color: #0d0f23;
  --accent-color: #0d6efd;
  --button-bg: #0d0f23;
  --button-text: #ffffff;
  --card-bg: #f1f1f1;
  --thumb-color: #0d6efd;
  --progress-color: #ccc;
}

[data-theme="dark"] {
  --bg-color: #0d0f23;
  --text-color: #ffffff;
  --accent-color: #3a6df0;
  --button-bg: #3a6df0;
  --button-text: #ffffff;
  --card-bg: #1a1d3b;
}

/* === Layout === */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.site-header {
  padding: 1rem;
  text-align: right;
}

h1, h2 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.discounts {
  display: flex;
  flex-direction: column;
  gap: 5px;;
}

.sliderConfig {
  width: 100%;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: var(--accent-color);
  border-radius: 1.3px;
}

form {
  display: flex;
  flex-direction: column;
}